.heading{
    background-color: purple;
    color: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
  }
  
  .card img {
    object-fit: cover;
    height: 200px;
    width: 50%;
  }
/*   
  img.thumbnail {
    background-color: black;
    width: 250px;
    height: 200px;
    display: inline-block; /* makes it fit in like an <img> */
    background-size: cover; /* or contain */
    background-position: center center;
    background-repeat: no-repeat;
} */